In [9]:
import numpy as np 
import matplotlib.pyplot as plt
import random
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import numpy as np
from PIL import Image
from easydict import EasyDict as edict
import json
from pathlib import Path
import pandas as pd

In [2]:
anno_path = "/home/goldjh93/dataset/LVIS/lvis_v1_val.json"
#"/home/goldjh93/dataset/coco/annotations-3/person_keypoints_val2014.json"
#"/home/goldjh93/dataset/coco/annotations/panoptic_val2017.json"

with open(anno_path) as f:
    _anno_dict = json.load(f)
    anno_dict = edict(_anno_dict)

In [3]:
anno_dict.keys()

dict_keys(['info', 'categories', 'annotations', 'images', 'licenses'])

In [5]:
anno_dict.categories[0]

{'image_count': 8,
 'synonyms': ['aerosol_can', 'spray_can'],
 'def': 'a dispenser that holds a substance under pressure',
 'id': 1,
 'synset': 'aerosol.n.02',
 'name': 'aerosol_can',
 'frequency': 'c',
 'instance_count': 11}

In [6]:
anno_dict.annotations[0]

{'area': 73297.48,
 'id': 1,
 'segmentation': [[270.75,
   598.57,
   261.98,
   598.57,
   247.84,
   598.57,
   234.68,
   598.08,
   221.52,
   598.08,
   208.84,
   598.08,
   196.17,
   598.08,
   185.93,
   597.59,
   173.26,
   597.1,
   163.02,
   597.1,
   152.79,
   597.59,
   143.04,
   597.59,
   136.21,
   598.57,
   134.26,
   605.88,
   127.93,
   611.24,
   123.05,
   617.58,
   122.56,
   625.38,
   125.0,
   640.0,
   110.87,
   640.0,
   108.43,
   640.0,
   103.07,
   626.35,
   99.17,
   621.48,
   99.17,
   613.19,
   100.63,
   603.44,
   103.55,
   597.59,
   102.58,
   588.33,
   101.6,
   576.14,
   101.6,
   563.47,
   99.17,
   551.28,
   96.73,
   535.2,
   97.22,
   523.01,
   100.14,
   512.77,
   102.09,
   507.41,
   105.02,
   504.98,
   103.55,
   492.3,
   101.6,
   478.65,
   99.65,
   468.42,
   91.85,
   463.05,
   86.01,
   455.26,
   83.08,
   446.48,
   86.49,
   438.68,
   91.37,
   427.47,
   96.73,
   421.13,
   101.6,
   413.33,
   107.45,
   405.05,
   118.66,
   395.79,
   124.51,
   387.5,
   128.41,
   382.62,
   134.75,
   380.67,
   132.31,
   368.98,
   131.83,
   357.76,
   131.83,
   345.58,
   129.88,
   332.42,
   127.44,
   318.77,
   124.51,
   294.88,
   125.49,
   282.7,
   123.54,
   267.1,
   125.0,
   257.35,
   126.75,
   249.45,
   131.1,
   241.63,
   137.19,
   236.41,
   144.14,
   231.62,
   149.36,
   231.62,
   159.8,
   233.36,
   172.41,
   231.62,
   182.85,
   229.01,
   193.29,
   226.41,
   206.77,
   223.8,
   217.21,
   221.19,
   228.95,
   220.75,
   237.21,
   219.88,
   250.26,
   219.88,
   260.7,
   222.49,
   268.09,
   222.93,
   275.92,
   224.23,
   284.62,
   227.27,
   295.06,
   226.84,
   306.8,
   227.71,
   312.02,
   230.75,
   320.28,
   228.58,
   324.63,
   228.14,
   331.15,
   229.45,
   334.63,
   232.06,
   338.11,
   235.97,
   342.9,
   242.93,
   344.64,
   249.02,
   345.51,
   255.98,
   345.51,
   262.94,
   346.1,
   267.9,
   346.1,
   276.51,
   346.1,
   286.35,
   345.79,
   290.96,
   345.79,
   296.5,
   345.18,
   302.95,
   344.87,
   311.26,
   344.56,
   318.64,
   343.64,
   323.56,
   343.02,
   326.94,
   341.18,
   334.01,
   341.18,
   339.86,
   340.87,
   345.7,
   340.87,
   354.31,
   340.87,
   363.54,
   340.87,
   370.61,
   336.87,
   365.69,
   336.87,
   358.0,
   332.57,
   351.23,
   328.88,
   346.62,
   323.96,
   344.78,
   318.11,
   341.7,
   314.73,
   338.93,
   308.89,
   337.7,
   304.28,
   336.78,
   299.05,
   336.78,
   293.82,
   337.4,
   290.75,
   340.78,
   287.05,
   345.08,
   283.98,
   349.08,
   280.6,
   353.69,
   278.14,
   358.31,
   274.75,
   363.23,
   269.83,
   366.92,
   265.84,
   369.38,
   262.15,
   370.61,
   260.61,
   373.38,
   260.92,
   376.76,
   258.15,
   379.83,
   252.92,
   382.29,
   248.0,
   385.98,
   243.69,
   386.91,
   241.69,
   386.67,
   236.9,
   386.89,
   230.81,
   387.75,
   226.46,
   388.19,
   221.46,
   389.71,
   217.77,
   390.36,
   212.11,
   390.8,
   208.63,
   392.1,
   206.02,
   393.19,
   203.2,
   394.06,
   201.24,
   394.93,
   193.63,
   397.11,
   190.15,
   398.84,
   187.32,
   400.15,
   183.84,
   401.02,
   182.32,
   402.76,
   181.23,
   404.5,
   178.84,
   405.37,
   176.23,
   406.46,
   174.49,
   407.11,
   173.84,
   409.07,
   173.62,
   411.46,
   171.88,
   413.41,
   169.27,
   415.15,
   167.97,
   418.2,
   167.75,
   421.24,
   165.58,
   424.07,
   164.92,
   426.46,
   164.92,
   429.29,
   163.84,
   433.2,
   162.53,
   434.94,
   162.53,
   438.42,
   162.97,
   442.34,
   163.18,
   445.16,
   163.18,
   447.34,
   164.27,
   450.82,
   164.05,
   453.43,
   164.05,
   459.51,
   165.58,
   462.34,
   165.58,
   465.17,
   165.79,
   468.21,
   166.01,
   470.39,
   166.66,
   471.91,
   167.1,
   474.52,
   167.97,
   476.69,
   168.4,
   480.17,
   169.27,
   484.09,
   172.75,
   486.48,
   174.71,
   486.48,
   178.41,
   487.13,
   181.23,
   489.31,
   184.28,
   491.48,
   187.1,
   492.78,
   192.11,
   494.96,
   197.54,
   496.92,
   200.8,
   499.09,
   204.07,
   499.74,
   207.54,
   501.92,
   211.02,
   504.74,
   212.76,
   505.83,
   217.55,
   504.53,
   219.29,
   504.74,
   222.11,
   504.96,
   226.25,
   504.96,
   229.51,
   505.18,
   230.81,
   505.18,
   232.99,
   504.74,
   237.34,
   504.74,
   241.69,
   503.0,
   247.77,
   503.0,
   252.99,
   501.05,
   260.39,
   500.18,
   262.78,
   500.18,
   266.91,
   499.96,
   271.04,
   499.74,
   276.69,
   499.09,
   282.57,
   498.87,
   287.35,
   496.48,
   293.66,
   494.31,
   298.44,
   491.26,
   304.75,
   486.7,
   307.79,
   482.56,
   311.92,
   479.3,
   314.97,
   478.0,
   316.05,
   477.35,
   316.92,
   479.52,
   316.92,
   483.43,
   315.62,
   487.78,
   314.1,
   491.26,
   315.4,
   494.09,
   320.84,
   493.22,
   324.32,
   493.44,
   328.45,
   492.13,
   332.15,
   490.83,
   334.75,
   489.52,
   334.32,
   486.26,
   333.23,
   482.13,
   332.8,
   477.13,
   330.84,
   466.91,
   330.84,
   462.12,
   329.1,
   457.77,
   327.58,
   453.64,
   321.71,
   450.82,
   319.32,
   451.03,
   318.88,
   447.55,
   318.45,
   441.9,
   319.97,
   438.42,
   318.88,
   435.16,
   317.58,
   433.85,
   314.31,
   429.51,
   311.05,
   427.33,
   314.31,
   422.33,
   316.27,
   418.2,
   317.14,
   414.72,
   319.75,
   410.8,
   321.71,
   408.2,
   323.23,
   406.24,
   327.36,
   407.11,
   331.49,
   407.98,
   336.71,
   407.98,
   339.54,
   407.76,
   344.11,
   407.11,
   349.54,
   404.06,
   354.11,
   400.58,
   356.07,
   397.54,
   358.89,
   400.8,
   361.72,
   404.93,
   364.76,
   410.15,
   366.5,
   413.41,
   369.11,
   417.33,
   371.07,
   419.94,
   372.16,
   423.42,
   373.03,
   426.03,
   374.77,
   429.72,
   378.68,
   433.85,
   381.29,
   439.29,
   384.77,
   444.51,
   384.12,
   447.77,
   383.9,
   450.6,
   382.59,
   454.51,
   380.2,
   459.3,
   378.68,
   461.91,
   376.51,
   465.39,
   374.11,
   467.34,
   370.85,
   467.56,
   368.24,
   468.21,
   367.37,
   471.04,
   366.29,
   477.13,
   366.29,
   484.96,
   366.07,
   487.57,
   365.63,
   494.74,
   365.63,
   498.87,
   365.63,
   501.27,
   366.94,
   503.44,
   371.07,
   507.14,
   373.24,
   511.7,
   375.42,
   517.57,
   375.42,
   525.4,
   375.85,
   530.62,
   375.85,
   538.88,
   374.77,
   545.41,
   372.81,
   553.89,
   372.81,
   559.54,
   372.16,
   569.55,
   371.07,
   573.89,
   370.63,
   580.42,
   369.33,
   590.86,
   369.11,
   595.86,
   370.42,
   600.42,
   371.07,
   605.86,
   372.16,
   609.77,
   373.9,
   613.25,
   373.9,
   616.3,
   371.07,
   624.56,
   368.89,
   628.48,
   367.16,
   630.87,
   364.76,
   635.22,
   364.33,
   635.65,
   361.72,
   635.65,
   349.32,
   635.65,
   351.5,
   632.61,
   351.5,
   627.39,
   351.93,
   625.0,
   352.15,
   622.39,
   352.15,
   619.56,
   350.41,
   616.95,
   347.15,
   613.69,
   341.5,
   609.99,
   339.32,
   608.47,
   337.15,
   604.77,
   335.19,
   600.64,
   334.97,
   597.6,
   331.06,
   596.73,
   326.49,
   596.73,
   320.84,
   597.16,
   316.71,
   596.94,
   312.57,
   597.38,
   308.88,
   597.38,
   305.4,
   597.81,
   300.4,
   597.81,
   293.22,
   598.03,
   289.74,
   598.25,
   284.31,
   598.25,
   279.96,
   598.25,
   270.75,
   598.57]],
 'image_id': 446522,
 'bbox': [83.08, 219.88, 301.69, 420.12],
 'category_id': 232}

In [7]:
anno_dict.images[0]

{'date_captured': '2013-11-14 17:02:52',
 'neg_category_ids': [279, 899, 127, 180, 1136, 725, 663],
 'id': 397133,
 'license': 4,
 'height': 427,
 'width': 640,
 'flickr_url': 'http://farm7.staticflickr.com/6116/6255196340_da26cf2c9e_z.jpg',
 'coco_url': 'http://images.cocodataset.org/val2017/000000397133.jpg',
 'not_exhaustive_category_ids': [914, 801, 566, 139, 1021]}

In [16]:
_ann=pd.DataFrame(anno_dict.annotations)
_ann.head(10)
# _ann.shape

,area,id,segmentation,image_id,bbox,category_id
0,73297.48,1,"[[270.75, 598.57, 261.98, 598.57, 247.84, 598....",446522,"[83.08, 219.88, 301.69, 420.12]",232
1,70204.06,2,"[[0.0, 626.21, 90.53, 629.18, 97.12, 611.7, 10...",446522,"[0.0, 0.0, 132.41, 629.18]",421
2,289.97,3,"[[238.16, 386.84, 240.61, 387.95, 245.96, 385....",76261,"[238.16, 340.87, 66.44, 47.08]",99
3,238.39,4,"[[392.16, 220.43, 395.79, 219.28, 400.38, 216....",76261,"[368.84, 181.21, 51.42, 59.88]",99
4,100734.18,5,"[[23.83, 156.28, 0.0, 162.64, 0.0, 427.0, 166....",454750,"[0.0, 14.7, 413.66, 412.3]",1202
5,60324.79,6,"[[307.71, 242.11, 289.62, 253.14, 269.79, 272....",454750,"[234.76, 153.19, 339.79, 273.81]",1202
6,113515.09,7,"[[229.3, 418.08, 253.86, 395.1, 287.93, 132.76...",113867,"[196.82, 0.0, 287.59, 640.0]",272
7,85.19,8,"[[360.53, 19.55, 358.68, 20.35, 356.04, 15.19,...",113867,"[347.59, 0.0, 15.31, 20.35]",1173
8,2248.74,9,"[[0.0, 233.17, 8.77, 216.13, 15.1, 210.42, 15....",113867,"[0.0, 0.0, 133.78, 233.17]",811
9,435.91,10,"[[505.28, 570.99, 504.26, 566.72, 502.02, 565....",113867,"[495.51, 565.29, 18.31, 74.71]",811

In [17]:
_img=pd.DataFrame(anno_dict.images)
_img.head(10)
# _img.shape

,date_captured,neg_category_ids,id,license,height,width,flickr_url,coco_url,not_exhaustive_category_ids
0,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]"
1,2013-11-14 20:55:31,"[1002, 434, 924, 928, 951, 378, 1012, 867, 108...",37777,1,230,352,http://farm9.staticflickr.com/8429/7839199426_...,http://images.cocodataset.org/val2017/00000003...,"[181, 45]"
2,2013-11-14 22:32:02,"[194, 899, 248, 587, 201, 838, 1112, 1061, 337...",252219,4,428,640,http://farm4.staticflickr.com/3446/3232237447_...,http://images.cocodataset.org/val2017/00000025...,[948]
3,2013-11-14 23:11:37,"[149, 713, 654, 1112, 753, 579]",87038,1,480,640,http://farm8.staticflickr.com/7355/8825114508_...,http://images.cocodataset.org/val2017/00000008...,"[94, 1043]"
4,2013-11-14 23:16:55,"[22, 369, 176, 653, 89, 11, 753, 474]",174482,6,388,640,http://farm8.staticflickr.com/7020/6478877255_...,http://images.cocodataset.org/val2017/00000017...,[1112]
5,2013-11-15 00:09:17,"[1068, 942, 1069, 668, 325, 605, 501, 294, 283...",403385,4,511,640,http://farm4.staticflickr.com/3526/3768289025_...,http://images.cocodataset.org/val2017/00000040...,[1098]
6,2013-11-15 01:52:52,"[68, 412, 966, 370, 810, 1187, 951, 1083, 37, ...",6818,4,640,427,http://farm3.staticflickr.com/2318/2068039201_...,http://images.cocodataset.org/val2017/00000000...,[]
7,2013-11-15 13:09:24,"[828, 1023, 689, 102, 857, 1103, 1007, 483, 69...",480985,6,500,375,http://farm3.staticflickr.com/2336/1634911562_...,http://images.cocodataset.org/val2017/00000048...,[549]
8,2013-11-15 13:55:22,"[539, 760, 24, 53, 80, 29, 993, 1160, 531, 936...",331352,4,500,351,http://farm1.staticflickr.com/53/136223761_776...,http://images.cocodataset.org/val2017/00000033...,[]
9,2013-11-15 15:26:19,"[689, 922, 24, 25, 565, 438, 1105, 84, 266, 79...",296649,3,427,640,http://farm4.staticflickr.com/3577/3491669985_...,http://images.cocodataset.org/val2017/00000029...,[]

In [18]:
_cate=pd.DataFrame(anno_dict.categories)
_cate.head(10)
# _cate.shape

,image_count,synonyms,def,id,synset,name,frequency,instance_count
0,8,"[aerosol_can, spray_can]",a dispenser that holds a substance under pressure,1,aerosol.n.02,aerosol_can,c,11
1,65,[air_conditioner],a machine that keeps air cool and dry,2,air_conditioner.n.01,air_conditioner,f,146
2,349,"[airplane, aeroplane]",an aircraft that has a fixed wing and is power...,3,airplane.n.01,airplane,f,619
3,25,[alarm_clock],a clock that wakes a sleeper at some preset time,4,alarm_clock.n.01,alarm_clock,f,60
4,14,"[alcohol, alcoholic_beverage]",a liquor or brew containing alcohol as the act...,5,alcohol.n.01,alcohol,c,149
5,1,"[alligator, gator]",amphibious reptiles related to crocodiles but ...,6,alligator.n.02,alligator,c,1
6,14,[almond],oval-shaped edible seed of the almond tree,7,almond.n.02,almond,c,302
7,2,[ambulance],a vehicle that takes people to and from hospitals,8,ambulance.n.01,ambulance,c,6
8,2,[amplifier],electronic equipment that increases strength o...,9,amplifier.n.01,amplifier,c,3
9,7,"[anklet, ankle_bracelet]",an ornament worn around the ankle,10,anklet.n.03,anklet,c,8

In [20]:
join_df= pd.merge(left=_img, right=_ann, how='left', left_on=['id'],right_on=['image_id'])
join_df.head(10)

,date_captured,neg_category_ids,id_x,license,height,width,flickr_url,coco_url,not_exhaustive_category_ids,area,id_y,segmentation,image_id,bbox,category_id
0,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",79.39,5650.0,"[[153.61, 11.28, 150.33, 8.61, 148.9, 4.71, 14...",397133.0,"[148.9, 0.4, 15.79, 11.5]",566.0
1,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",113.84,5651.0,"[[91.21, 6.82, 94.24, 9.09, 96.12, 9.09, 99.71...",397133.0,"[88.76, 0.0, 15.67, 9.09]",566.0
2,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",79.49,5652.0,"[[240.59, 2.72, 239.32, 2.82, 240.06, 4.2, 239...",397133.0,"[230.35, 2.72, 13.32, 22.2]",566.0
3,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",137.03,5653.0,"[[194.84, 9.83, 194.07, 8.66, 193.0, 8.66, 192...",397133.0,"[191.34, 0.0, 16.83, 20.15]",566.0
4,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",2.32,5654.0,"[[318.62, 48.52, 317.74, 48.22, 317.64, 47.35,...",397133.0,"[317.64, 46.76, 1.95, 1.76]",566.0
5,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",92.76,5655.0,"[[175.29, 27.12, 177.27, 23.55, 177.93, 20.5, ...",397133.0,"[167.1, 2.78, 11.76, 24.34]",566.0
6,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",3.05,5656.0,"[[333.24, 49.08, 331.92, 48.68, 331.79, 47.49,...",397133.0,"[331.79, 46.56, 1.85, 2.52]",566.0
7,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",27.38,5657.0,"[[114.36, 3.04, 111.71, 3.44, 108.41, 2.91, 10...",397133.0,"[107.35, 0.0, 10.31, 3.44]",566.0
8,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",66.04,5658.0,"[[250.98, 26.25, 250.08, 28.21, 248.27, 28.66,...",397133.0,"[242.56, 10.16, 9.77, 21.06]",566.0
9,2013-11-14 17:02:52,"[279, 899, 127, 180, 1136, 725, 663]",397133,4,427,640,http://farm7.staticflickr.com/6116/6255196340_...,http://images.cocodataset.org/val2017/00000039...,"[914, 801, 566, 139, 1021]",52.87,5659.0,"[[72.42, 0.0, 73.07, 4.83, 76.29, 5.96, 79.19,...",397133.0,"[72.42, 0.0, 11.43, 6.12]",566.0

In [21]:
data_tb1=join_df[['image_id','bbox','category_id']]
data_tb1.head(10)

   image_id                          bbox  category_id
0  397133.0     [148.9, 0.4, 15.79, 11.5]        566.0
1  397133.0     [88.76, 0.0, 15.67, 9.09]        566.0
2  397133.0   [230.35, 2.72, 13.32, 22.2]        566.0
3  397133.0   [191.34, 0.0, 16.83, 20.15]        566.0
4  397133.0   [317.64, 46.76, 1.95, 1.76]        566.0
5  397133.0   [167.1, 2.78, 11.76, 24.34]        566.0
6  397133.0   [331.79, 46.56, 1.85, 2.52]        566.0
7  397133.0    [107.35, 0.0, 10.31, 3.44]        566.0
8  397133.0  [242.56, 10.16, 9.77, 21.06]        566.0
9  397133.0     [72.42, 0.0, 11.43, 6.12]        566.0

In [22]:
data_tb2= pd.merge(left=data_tb1, right=_cate, how='left', left_on=['category_id'],right_on=['id'])
data_tb2.head(10)

,image_id,bbox,category_id,image_count,synonyms,def,id,synset,name,frequency,instance_count
0,397133.0,"[148.9, 0.4, 15.79, 11.5]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
1,397133.0,"[88.76, 0.0, 15.67, 9.09]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
2,397133.0,"[230.35, 2.72, 13.32, 22.2]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
3,397133.0,"[191.34, 0.0, 16.83, 20.15]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
4,397133.0,"[317.64, 46.76, 1.95, 1.76]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
5,397133.0,"[167.1, 2.78, 11.76, 24.34]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
6,397133.0,"[331.79, 46.56, 1.85, 2.52]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
7,397133.0,"[107.35, 0.0, 10.31, 3.44]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
8,397133.0,"[242.56, 10.16, 9.77, 21.06]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0
9,397133.0,"[72.42, 0.0, 11.43, 6.12]",566.0,44.0,[hook],a curved or bent implement for suspending or p...,566.0,hook.n.05,hook,f,200.0

In [23]:
final_tb=data_tb2[['image_id','bbox','name']]
final_tb.head(10)

   image_id                          bbox  name
0  397133.0     [148.9, 0.4, 15.79, 11.5]  hook
1  397133.0     [88.76, 0.0, 15.67, 9.09]  hook
2  397133.0   [230.35, 2.72, 13.32, 22.2]  hook
3  397133.0   [191.34, 0.0, 16.83, 20.15]  hook
4  397133.0   [317.64, 46.76, 1.95, 1.76]  hook
5  397133.0   [167.1, 2.78, 11.76, 24.34]  hook
6  397133.0   [331.79, 46.56, 1.85, 2.52]  hook
7  397133.0    [107.35, 0.0, 10.31, 3.44]  hook
8  397133.0  [242.56, 10.16, 9.77, 21.06]  hook
9  397133.0     [72.42, 0.0, 11.43, 6.12]  hook

In [25]:
id_array=final_tb['image_id'].unique()
print(id_array)

[397133.  37777. 252219. ... 432062. 347405. 155379.]

In [27]:
len(str(397133))

6